#head {
    color:crimson ;
}

#test {
    background-color: rgba(0, 0 ,255, 0.2);
    color: darkslategrey;
}

#mon {
    background-color: rgb(255, 0, 255);
    color: aliceblue;
}

#amina {
    background-color: rgba(0, 255, 255, 0.4);
    color: navy;
}

/* Exerice 6 css */

#navbar {
    color: blue;
}